header {
    width: 100%;
    height: 100px;
    background-color: #000000;
}

header #logo {
    text-align: center;
    margin-top: 25px;
    margin-left: 220px;
}

#comandos {
    background-color: blueviolet;
}